<div>
  <div class="row" style="background-color: #FFF5F3; min-height: 1000px; color: white">
    <div class="primeiro-container">
      <div class="container flex items-center bg-red-sete-belo">
        <div class="grid grid-cols-1 gap-2 items-center">
          <p class="font-extrabold">Balas 7belo</p>
          <p class="w-48">Desde 1960 a melhor bala fabricada no Brasil.</p>
          <button class="beneficios-sete-belo w-48 h-10 bg-auto flex items-center pl-4 bg-white text-black rounded-md">
            Benefícios da 7Belo
            <img class="flex items-center ml-6" src="../../../assets/img/beneficios-botao-mais.png">
          </button>
        </div>
        <img class="pacote-sete-belo w-112 h-96 ml-40" src="../../../assets/img/pacote-sete-belo.png">
      </div>
    </div>

    <div class="segundo-container mb-4">
      <div class="container2 flex items-center drop-shadow-xl m-10 ml-20 space-x-14">
        <img class="rounded-r-3xl ml-52 h-64" src="../../../assets/img/casal.png">
        <div class="grid grid-cols-1 gap-2 items-center mt-12">
            <p class="w-48 text-red-sete-belo">BALAS 7 BELO, É O MELHOR PRESENTE PARA O DIA DOS NAMORADOS.</p>
            <button class="beneficios-sete-belo w-40 h-10 bg-auto flex items-center pl-4 bg-red-sete-belo text-white rounded-md mt-10">
              Compre agora
              <img class="flex w-6 h-6 items-center ml-4" src="../../../assets/img/carrinho.png">
            </button>
        </div>
      </div>
    </div>
  </div>
</div>