a {
    margin-left: 15px;
    margin-right: 5px;    
}

a:hover {
    font-weight: bold;
    cursor: pointer;
}

a:active {
    background-color: rgb(214, 214, 213);
    font-weight: bold;
    opacity: 50%;
}

